<!-- start custom head snippets -->

<!-- insert favicons. use http://realfavicongenerator.net/ -->
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/manifest.json">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="theme-color" content="#ffffff">

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}
{% else %}
  {% assign author = site.author %}
{% endif %}

<meta name="DC.Title" content="{{ page.title }}">
<meta name="DC.Creator" content="{{ author.name }}">
{% if page.source %}
  <meta name="DC.Source" content="{{ page.source }}">
{% endif %}
<meta name="DC.Description" content="{{ page.excerpt | strip_html }} - Fra: {{ site.title }}">
{% if page.publisher %}
  <meta name="DC.Publisher" content="{{ page.publisher }}">
{% else %}
  <meta name="DC.Publisher" content="{{ site.name }}">
{% endif %}
{% if page.type %}
  <meta name="DC.Type" content="{{ page.type }}">
{% endif %}
<meta name="DC.Format" content="text/html">
<meta name="DC.Language" content="da">
<meta name="DC.Rights" content="All rights reserved">

<!-- end custom head snippets -->
