---
layout: splash
title: Årsskrifter fra Vejle Idrætshøjskole
permalink: /aarsskrifter/
author_profile: false
header:
  teaser: https://drive.google.com/uc?id=1J8hZ6vr6NiYtZbabcBJaXo54WAUJzn1y
  overlay_image: https://images.weserv.nl/?url=https://drive.google.com/uc?id=1J8hZ6vr6NiYtZbabcBJaXo54WAUJzn1y&w=2000
  overlay_filter: rgba(26, 162, 221, 0.7)
  excerpt: "En ny start for årsskrifterne på Vejle Idrætshøjskole, der har holdt en pause siden 2006."
  actions:
    - label: "<i class='fas fa-book'></i> Læs Årsskriftet 2021"
      url: "/aarsskrift/2021/"
    - label: "<i class='fas fa-book'></i> Læs Årsskriftet 2020"
      url: "/aarsskrift/2020/"
    - label: "<i class='fas fa-book'></i> Læs Årsskriftet 2019"
      url: "/aarsskrift/2019/"
feature_row2:
  - image_path: /assets/images/yearbooks/frontpage/2021.jpg
    alt: "Årsskrift 2021"
    title: "Årsskrift 2021"
    excerpt: 'Årsskriftet 2021 er en opsamling på året der gik, lidt om Svend Aage Thomsen og DR-dokumentar og hvordan den globale pandemi har påvirket højskolen. Læs med.'
    url: "/aarsskrift/2021/"
    btn_label: "Læs årsskriftet 2021"
    btn_class: "btn--info"
  - image_path: /assets/images/yearbooks/frontpage/2020.png
    alt: "Årsskrift 2020"
    title: "Årsskrift 2020"
    excerpt: 'Årsskriftet samler op på året der er gået, hvilke pædagogiske nedslag vi har lavet. Naturligvis er der også noget om at drive højskole under en pandemi.'
    url: "/aarsskrift/2020/"
    btn_label: "Læs årsskriftet 2020"
    btn_class: "btn--info"
  - image_path: https://images.weserv.nl/?url=https://drive.google.com/uc?id=1fz50QBUxsqp6fq-DYbAI3jmF8Y_W0CjN&w=500
    alt: "Årsskrift 2019"
    title: "Årsskrift 2019"
    excerpt: 'Årsskriftet samler op på året der er gået, har et par historiske nedslag og åbner svømmesøen.'
    url: "/aarsskrift/2019/"
    btn_label: "Læs årsskriftet 2019"
    btn_class: "btn--info"
feature_help:
  - title: "Se indholdet fra tidligere årsskrifter"
    excerpt: 'Vi har lavet en samlet liste over indholdsfortegnelserne i de enkelte årsskrifter. Hvis du har lyst til at hjælpe med at digitalisere nogle af artiklerne fra årsskrifterne, så skriv endelig til os.'
classes: wide
---

{% include feature_row id="feature_row2" %}

{% include feature_row type="left" %}

{% include feature_row id="feature_help" type="center" %}

<div class="grid__wrapper">
{% for post in site.yearbooks %}
  {% include archive-single.html type="grid" %}
{% endfor %}
</div>
