---
layout: archive
title: Årsskrifter fra Vejle Idrætshøjskole
permalink: /yearbooks/
author_profile: false
feature_row:
- image_path: https://lh3.googleusercontent.com/N8sJ_5syK3lhGIW9MgbaQLgLzs692pOoEWgxDKO6mcDbbLZrJqTaq1jiceOX8LtHnhrsCZMmJstVyg6dnu-kpeA8cFUm51bxzyI3Sxo3MPNn5WDPnNk93iMhlGwIyEWDuJOYMXNO98s
  alt: "Årsskrift 2017"
  title: "Årsskrift 2017"
  excerpt: 'En ny start for årsskrifterne på Vejle Idrætshøjskole, der har holdt en pause siden 2006.'
  url: "/yearbooks/2017/"
  btn_label: "Læs årsskriftet"
  btn_class: "btn--inverse"
---

{% include feature_row type="left" %}

<div class="grid__wrapper">
  {% for post in site.yearbooks %}
    {% include archive-single.html type="grid" %}
  {% endfor %}
</div>
