<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css" media="screen">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="/stylesheets/github-light.css" media="screen">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>

<section class="main-content">
    {{ page.content }}

    <footer class="site-footer">
        <span class="site-footer-owner"><a href="https://github.com/vih/historie">Fork Historie on Github</a> vedligeholdes <a href="https://vih.dk">Vejle Idrætshøjskole</a>.</span>
    </footer>

</section>

</body>
</html>
