---
layout: default
---

<div id="main" role="main">

    <!-- 1 -->
    <link title="timeline-styles" rel="stylesheet" href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">
    <link title="timeline-styles" rel="stylesheet" href="https://cdn.knightlab.com/libs/timeline3/latest/css/fonts/font.knightlab.css">

    <!-- 2 -->
    <script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js"></script>

    <div id='timeline-embed' style="width: 100%; height: 600px"></div>

    <!-- 3 -->
    <script type="text/javascript">
        {% assign persons = page.timeline %}
        var timeline_json = {
            "title": {
                "media": {
                    "caption": "{{ page.media.caption }}",
                    "credit": "{{ page.media.credit }}",
                    "url": "{{ page.media.url }}",
                    "thumbnail": 	"{{ page.media.thumbnail }}"
                },
                "text": {
                    "headline": "{{ page.title }}",
                    "text": "{{ page.excerpt }}"
                }
            },
            "events": [
            {% for person in persons %}
        {
            "start_date": {
            "year":			"{{ person.start_date.year }}",
                    "month":		"{{ person.start_date.month }}",
                    "day": 			"{{ person.start_date.day }}"
        },
            "end_date": {
            "year":			"{{ person.end_date.year }}",
                    "month":		"{{ person.end_date.month }}",
                    "day": 			"{{ person.end_date.day }}"
        },
            "group": "{{ person.category }}",
                "media": {
            "caption": "{{ person.media.caption }}",
                    "credit": "{{ person.media.credit }}",
                    "thumbnail": 	"{{ person.media.thumbnail }}",
                    "url": "{{ person.media.url }}"
        },
            "text": {
            "headline": "{{ person.title }}",
                    "text": "{{ person.excerpt }}"
        }
        }{% unless forloop.last %},{% endunless %}
        {% endfor %}
        ]
        };
        // The TL.Timeline constructor takes at least two arguments:
        // the id of the Timeline container (no '#'), and
        // the URL to your JSON data file or Google spreadsheet.
        // the id must refer to an element "above" this code,
        // and the element must have CSS styling to give it width and height
        // optionally, a third argument with configuration options can be passed.
        // See below for more about options.
        var timeline_options = {
            language: "en",
            initial_zoom: 2,
            scale_factor: 2
        }

        window.timeline = new TL.Timeline('timeline-embed', timeline_json, timeline_options);
    </script>

    <article class="page" itemscope itemtype="http://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date: "%B %d, %Y" }}">{% endif %}
        {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date: "%B %d, %Y" }}">{% endif %}

        <div class="page__inner-wrap">
            {% unless page.header.overlay_color or page.header.overlay_image %}
            <header>
                {% if page.title %}<h1 class="page__title" itemprop="headline">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>{% endif %}
                {% if page.read_time %}
                <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
                {% endif %}
            </header>
            {% endunless %}

            <section class="page__content" itemprop="text">
                {{ content }}
                {% if page.link %}<div><a href="{{ page.link }}" class="btn">{{ site.data.ui-text[site.locale].ext_link_label | default: "Direct Link" }}</a></div>{% endif %}
            </section>

            <footer class="page__meta">
                {% if site.data.ui-text[site.locale].meta_label %}
                <h4 class="page__meta-title">{{ site.data.ui-text[site.locale].meta_label }}</h4>
                {% endif %}
                {% if page.last_modified_at %}
                <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time datetime="{{ page.last_modified_at | date: "%Y-%m-%d" }}">{{ page.last_modified_at | date: "%B %d, %Y" }}</time></p>
                {% elsif page.date %}
                <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Updated:" }}</strong> <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></p>
                {% endif %}
            </footer>

            {% if page.share %}{% include social-share.html %}{% endif %}

            {% include post_pagination.html %}
        </div>

        {% if site.comments.provider and page.comments %}
        {% include comments.html %}
        {% endif %}
    </article>

    {% comment %}<!-- only show related on a post page when not disabled -->{% endcomment %}
    {% if page.id and page.related and site.related_posts.size > 0 %}
    <div class="page__related">
        <h4 class="page__related-title">{{ site.data.ui-text[site.locale].related_label | default: "You May Also Enjoy" }}</h4>
        <div class="grid__wrapper">
            {% for post in site.related_posts limit:4 %}
            {% include archive-single.html type="grid" %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
